

<div class="card m-3">
  <h5 class="card-header" align="center"> Product Registering</h5>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-4">
          <label class="label">Product*</label>
          <input formControlName="ice" [(ngModel)]="product.productName" class="form-control" placeholder="name" type="text" required="true"  [ngClass]="{ 'is-invalid': submitted && f.ice.errors }" />
          <div *ngIf="submitted && f.ice.errors" class="invalid-feedback">
            <div *ngIf="f.ice.errors.required">product is required</div>
          </div></div>
        <div class="form-group col-4">
          <label class="label">Product Category</label>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="productCategory"  placeholder="Category" class="form-control" type="text" required="true" />
        </div>
        <div class="form-group col-4">
          <label class="label">price</label>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="product.price"  placeholder="price" class="form-control" type="text" required="true"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label class="label">Stock Quantity </label>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="product.quantityInStock" placeholder="Stock" class="form-control" type="text" required>
        </div>
        <div class="form-group col-4">
          <label class="label">Reference Product</label>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="product.referenceProduct" placeholder="reference product" class="form-control" type="text">
        </div>
        <div class="form-group col-4">
        <label class="label">Statut</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="product.statut" placeholder="Statut"  class="form-control" type="text">
      </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1" (click) ="onSubmit()">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>

    </div></form>
</div>



