<div class="row">
  <div class="col-sm-10">
  </div>
  <div class="col-sm-2 text-md-left">
    <button  class="btn btn-secondary mr-1" (click)="popupRegister()" type="submit" nbButton  status="danger" outline>Registering</button>
  </div>
</div>
<br>



<nb-card>
  <nb-card-header>
    Order  Lists
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (createConfirm)="create($event)"
                     (editConfirm)="edit($event)"
                     (rowSelect)="onRowSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
